.form {
  display: none;
}

.showing {
  display: block;
}

body {
  background-color: #1a2124;
  text-align: center;
  padding-top: 15px;
}

@keyframes fadeIn { /*배경사진 페이드인*/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: -1; /*사진을 글씨 뒤로 보내기*/
  animation: fadeIn 0.5s linear;
}

.wrap1{
  margin-top: 50px;
}

::webkit-scrollbar{
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: none;
  
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
}

.clock {
  color: #ffffff;
  text-shadow: #cacaca 1px 0 20px;
}

.cl-time {
  font-size: 50px;
  font-weight: bold;
  font-;
}
.cl-date {
  font-size: 30px;
}

.greetings {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Gamja Flower', cursive;
  text-shadow: black 1px 10px 10px;
}
.nameInput{
  height:30px;
  width:200px;
  border: 1px solid #ffffff;
  border-radius: 10px 0 10px 0;
}

.box-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /*화면 크기에 맞추어 아이템 줄바꿈*/
}

.toDoBox {
  width:40%;
  height: 350px;
  margin : 20px auto;
  background-color: #ffffff;
  padding: 40px 30px 20px 30px;
  border-radius: 20px;
  box-shadow: #555555 3px 10px 10px;
  overflow: auto;
}


.toDoDone{
  width:40%;
  height: 350px;
  margin : 20px auto;
  padding : 20px;
  background-color: #ffffff;
  padding: 40px 30px 20px 30px;
  border-radius: 20px;
  box-shadow: #555555 3px 10px 10px;
  overflow: auto;
}


@media screen and (max-width: 800px) {
  .toDoBox {
      width:70%;
  }
  .toDoDone{
    width: 70%;
  }
}

.toDoInput{
  height:30px;
  width:200px;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 10px 0 10px 0;
  color:#000000;
  position:relative;
  
  /* box-shadow: #555555 1px 10px 10px; */
}

.toDoInput::placeholder{
  color:rgb(187, 187, 187);
  text-align: center;
}

.toDoInput:focus{
  outline:none;
}

.todoList {
  color:#525252;
  text-shadow: #e0e0e0 2px 2px 2px;
}

.toDoLi{
  font-size:18px;
  line-height: 30px;
  text-align: left;
}

.toDoDoneLi{
  font-size:18px;
  line-height: 30px;
  text-align: left;
}

.toDoDone > a{
  height:30px;
  width:200px;
  text-decoration: underline;
}

.delBtnCN{
  background-color: #ffffff;
  border-radius: 10px 0 10px 0;
  font-size: 15px;
  border : none;
  margin-right: 5px;
  cursor: pointer;
}

.delBtnCN:hover{
  background-color: #7a7a7a;
  color:#ffffff;
  transition: all 0.2s ease-in-out;
}

.checkBtnCN{
  background-color: #ffffff;
  border-radius: 10px 0 10px 0;
  font-size: 15px;
  border : none;
  margin-right: 5px;
  cursor: pointer;
}

.checkBtnCN:hover{
  color:red;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.weather {
  font-size: 20px;
  font-weight: bold;
  color:  #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: #424242 2px 2px 2px;
}

